color-settings-element, category-element, default-category-element, category-entry-element {
	display: block;
}
#title {
	text-align: center;
	margin-bottom: 35px;
}
#settings {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.color-settings-add-category-button {
	display: block;
	margin: 10px auto;
	background: #bfbfbf;
	transition: background-color 0.25s ease;
}
.color-settings-add-category-button:hover, .color-settings-add-category-button:focus {
	background: #00bfff;
}
.category, .default-category {
	padding-bottom: 15px;
}
.category-header {
	padding: 5px 10px;
	background: #efefef;
	font-size: 1.1em;
	position: relative;
}
.default-category .category-name {
	color: inherit;
}
.category-color {
	float: right;
	text-align: center;
}
.category-close-button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px;
	color: transparent;
	transition: color 0.25s ease;
	cursor: pointer;
}
.category-close-button > svg {
	display: block;
}
.category:hover .category-close-button {
	color: #00000040;
}
.category:hover .category-close-button:hover, .category-close-button:focus, .category:hover .category-close-button:focus {
	color: #000000b0;
}
.category-channel-list {
	padding: 5px 10px 5px 30px;
}
.category-channel-entry {
	padding: 2px;
}
.category-add-channel-button {
	margin: 0 50px;
	opacity: 0;
	transition: opacity 0.25s ease, background-color 0.25s ease;
}
.category:hover .category-add-channel-button, .category-add-channel-button:focus {
	opacity: 1;
}
.category-add-channel-button:hover, .category-add-channel-button:focus {
	background-color: #00bfff;
}
.channel-close-button {
	display: inline-block;
	padding: 5px;
	margin: -5px 0;
	color: transparent;
	transition: color 0.25s ease;
	cursor: pointer;
}
.channel-close-button > svg {
	display: block;
}
.category-channel-entry:hover .channel-close-button {
	color: #00000040;
}
.category-channel-entry:hover .channel-close-button:hover, .channel-close-button:focus, .category-channel-entry:hover .channel-close-button:focus {
	color: #000000b0;
}
text-input, span.category-name {
	font-family: "MS Shell Dlg 2", sans-serif;
}
span.category-name {
	display: inline-block;
	padding: 1px;
	border: 1px solid transparent;
}
text-input:hover, .category-channel-entry:hover > text-input, .category-channel-entry:focus-within > text-input {
	border-bottom-color: #00000060;
}
text-input:focus-within, .category-channel-entry:hover > text-input:focus-within, .category-channel-entry:focus-within > text-input:focus-within {
	border-bottom-color: #000000b0;
}
#button-save {
	margin: 30px 5px 5px 15px;
	background: #e0e0e0;
	transition: background-color 0.25s ease;
	font-size: 1.2em;
	height: 40px;
	width: 100px;
	cursor: default;
}
#button-save.highlighted {
	background: #bfbfbf;
	cursor: pointer;
}
#button-save.highlighted:hover, #button-save.highlighted:focus {
	background: #40ff40;
}
button {
	border: none;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	background: #bfbfbf;
	cursor: pointer;
}