ytd-rich-grid-media, ytd-post-renderer {
	--ext-yt-blocker-color: #80808010;
	--ext-yt-blocker-color-2: #efefef80;
}
@media (prefers-color-scheme: dark){
	ytd-rich-grid-media, ytd-post-renderer {
		--ext-yt-blocker-color-2: #30303080;
	}
}

/* For videos on new Frontpage Design */
ytd-rich-grid-media:not(:hover) ytd-channel-name, ytd-rich-grid-media:not(:hover) ytd-thumbnail, ytd-rich-grid-media:not(:hover) #video-title, ytd-rich-grid-media:not(:hover) #metadata-line > span, ytd-rich-grid-media:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: var(--ext-yt-blocker-color) !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: var(--ext-yt-blocker-color) !important;
}
ytd-rich-grid-media:not(:hover) #avatar {
	background: var(--ext-yt-blocker-color) !important;
}
ytd-rich-grid-media:not(:hover) #video-title, ytd-rich-grid-media:not(:hover) #metadata-line > span {
	color: transparent !important;
}
ytd-rich-grid-media:not(:hover) ytd-channel-name > *, ytd-rich-grid-media:not(:hover) ytd-thumbnail > *, ytd-rich-grid-media:not(:hover) ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-media:not(:hover) #avatar > * {
	opacity: 0;
}
ytd-rich-grid-media:hover ytd-channel-name, ytd-rich-grid-media:hover ytd-thumbnail, ytd-rich-grid-media:hover #video-title, ytd-rich-grid-media:hover #metadata-line > span, ytd-rich-grid-media:hover ytd-badge-supported-renderer > div.badge, ytd-rich-grid-media:hover #avatar, ytd-rich-grid-media:hover ytd-thumbnail::before, ytd-rich-grid-media:hover ytd-channel-name > *, ytd-rich-grid-media:hover ytd-thumbnail > *, ytd-rich-grid-media:hover ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-media:hover #avatar > * {
	transition: all 0.5s ease 1.5s;
}
ytd-rich-grid-media ytd-channel-name, ytd-rich-grid-media ytd-thumbnail, ytd-rich-grid-media #video-title, ytd-rich-grid-media #metadata-line > span, ytd-rich-grid-media ytd-badge-supported-renderer > div.badge, ytd-rich-grid-media #avatar, ytd-rich-grid-media ytd-thumbnail::before, ytd-rich-grid-media ytd-channel-name > *, ytd-rich-grid-media ytd-thumbnail > *, ytd-rich-grid-media ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-media #avatar > * {
	transition: all 0.5s ease 1s;
}
ytd-rich-grid-media:not(:hover) ytd-thumbnail::before {
	background-color: transparent;
}
ytd-rich-grid-media {
	position: relative;
}
ytd-rich-grid-media::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 1s;
	background: transparent;
	top: 0;
	left: 0;
}
ytd-rich-grid-media:hover::after {
	transition: all 0.5s ease 1.5s;
	height: 0;
	background: var(--ext-yt-blocker-color-2);
}

/** Posts **/
ytd-post-renderer:not(:hover) {
	background: var(--ext-yt-blocker-color) !important;
	border-color: var(--ext-yt-blocker-color) !important;
}
ytd-post-renderer:not(:hover) > * {
	opacity: 0;
}
ytd-post-renderer:hover, ytd-post-renderer:hover > * {
	transition: all 0.5s ease 1.5s;
}
ytd-post-renderer, ytd-post-renderer > * {
	transition: all 0.5s ease 1s;
}

/** Mix Playlists **/
ytd-grid-radio-renderer:not(:hover) ytd-thumbnail, ytd-grid-radio-renderer:not(:hover) span#video-title {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-grid-radio-renderer:not(:hover) span#video-title {
	color: transparent !important;
}
ytd-grid-radio-renderer:not(:hover) ytd-thumbnail > * {
	opacity: 0 !important;
}
ytd-grid-radio-renderer:hover ytd-thumbnail, ytd-grid-radio-renderer:hover ytd-thumbnail > *, ytd-grid-radio-renderer:hover span#video-title {
	transition: all 0.5s ease 1.5s;
}
ytd-grid-radio-renderer ytd-thumbnail, ytd-grid-radio-renderer ytd-thumbnail > *, ytd-grid-radio-renderer span#video-title {
	transition: all 0.5s ease 1s;
}

/** Normal Playlists **/
ytd-grid-playlist-renderer:not(:hover) ytd-playlist-thumbnail, ytd-grid-playlist-renderer:not(:hover) a#video-title, ytd-grid-playlist-renderer:not(:hover) ytd-channel-name a, ytd-grid-playlist-renderer:not(:hover) #view-more a {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-grid-playlist-renderer:not(:hover) a#video-title, ytd-grid-playlist-renderer:not(:hover) ytd-channel-name a, ytd-grid-playlist-renderer:not(:hover) #view-more a {
	color: transparent !important;
}
ytd-grid-playlist-renderer:not(:hover) ytd-playlist-thumbnail > * {
	opacity: 0 !important;
}
ytd-grid-playlist-renderer:hover ytd-playlist-thumbnail, ytd-grid-playlist-renderer:hover ytd-playlist-thumbnail > *, ytd-grid-playlist-renderer:hover a#video-title, ytd-grid-playlist-renderer:hover ytd-channel-name a, ytd-grid-playlist-renderer:hover #view-more a {
	transition: all 0.5s ease 1.5s;
}
ytd-grid-playlist-renderer ytd-playlist-thumbnail, ytd-grid-playlist-renderer ytd-playlist-thumbnail > *, ytd-grid-playlist-renderer a#video-title, ytd-grid-playlist-renderer ytd-channel-name a, ytd-grid-playlist-renderer #view-more a {
	transition: all 0.5s ease 1s;
}