/* For videos on new Frontpage Design */
ytd-rich-grid-video-renderer:not(:hover) ytd-channel-name, ytd-rich-grid-video-renderer:not(:hover) ytd-thumbnail, ytd-rich-grid-video-renderer:not(:hover) a#video-title, ytd-rich-grid-video-renderer:not(:hover) #metadata-line > span, ytd-rich-grid-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-rich-grid-video-renderer:not(:hover) #avatar {
	background: #efefef !important;
}
ytd-rich-grid-video-renderer:not(:hover) a#video-title, ytd-rich-grid-video-renderer:not(:hover) #metadata-line > span {
	color: transparent !important;
}
ytd-rich-grid-video-renderer:not(:hover) ytd-channel-name > *, ytd-rich-grid-video-renderer:not(:hover) ytd-thumbnail > *, ytd-rich-grid-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-video-renderer:not(:hover) #avatar > * {
	opacity: 0;
}
ytd-rich-grid-video-renderer:hover ytd-channel-name, ytd-rich-grid-video-renderer:hover ytd-thumbnail, ytd-rich-grid-video-renderer:hover a#video-title, ytd-rich-grid-video-renderer:hover #metadata-line > span, ytd-rich-grid-video-renderer:hover ytd-badge-supported-renderer > div.badge, ytd-rich-grid-video-renderer:hover #avatar, ytd-rich-grid-video-renderer:hover ytd-thumbnail::before, ytd-rich-grid-video-renderer:hover ytd-channel-name > *, ytd-rich-grid-video-renderer:hover ytd-thumbnail > *, ytd-rich-grid-video-renderer:hover ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-video-renderer:hover #avatar > * {
	transition: all 0.5s ease 1.5s;
}
ytd-rich-grid-video-renderer ytd-channel-name, ytd-rich-grid-video-renderer ytd-thumbnail, ytd-rich-grid-video-renderer a#video-title, ytd-rich-grid-video-renderer #metadata-line > span, ytd-rich-grid-video-renderer ytd-badge-supported-renderer > div.badge, ytd-rich-grid-video-renderer #avatar, ytd-rich-grid-video-renderer ytd-thumbnail::before, ytd-rich-grid-video-renderer ytd-channel-name > *, ytd-rich-grid-video-renderer ytd-thumbnail > *, ytd-rich-grid-video-renderer ytd-badge-supported-renderer > div.badge > *, ytd-rich-grid-video-renderer #avatar > * {
	transition: all 0.5s ease 1s;
}
ytd-rich-grid-video-renderer:not(:hover) ytd-thumbnail::before {
	background-color: transparent;
}
ytd-rich-grid-video-renderer {
	position: relative;
}
ytd-rich-grid-video-renderer::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 1s;
	background: transparent;
	top: 0;
	left: 0;
}
ytd-rich-grid-video-renderer:hover::after {
	transition: all 0.5s ease 1.5s;
	height: 0;
	background: #efefef80;
}



/**
 * for old Frontpage Design
 * (left in for backwards compatibility)
 */
ytd-grid-video-renderer:not(:hover) ytd-channel-name, ytd-grid-video-renderer:not(:hover) ytd-thumbnail, ytd-grid-video-renderer:not(:hover) a#video-title, ytd-grid-video-renderer:not(:hover) #metadata-line > span, ytd-grid-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-grid-video-renderer:not(:hover) a#video-title, ytd-grid-video-renderer:not(:hover) #metadata-line > span {
	color: transparent !important;
}
ytd-grid-video-renderer:not(:hover) ytd-channel-name > *, ytd-grid-video-renderer:not(:hover) ytd-thumbnail > *, ytd-grid-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge > * {
	opacity: 0;
}
ytd-grid-video-renderer:hover ytd-channel-name, ytd-grid-video-renderer:hover ytd-thumbnail, ytd-grid-video-renderer:hover a#video-title, ytd-grid-video-renderer:hover #metadata-line > span, ytd-grid-video-renderer:hover ytd-badge-supported-renderer > div.badge, ytd-grid-video-renderer:hover ytd-channel-name > *, ytd-grid-video-renderer:hover ytd-thumbnail > *, ytd-grid-video-renderer:hover ytd-badge-supported-renderer > div.badge > * {
	transition: all 0.5s ease 1.5s;
}
ytd-grid-video-renderer ytd-channel-name, ytd-grid-video-renderer ytd-thumbnail, ytd-grid-video-renderer a#video-title, ytd-grid-video-renderer #metadata-line > span, ytd-grid-video-renderer ytd-badge-supported-renderer > div.badge, ytd-grid-video-renderer ytd-channel-name > *, ytd-grid-video-renderer ytd-thumbnail > *, ytd-grid-video-renderer ytd-badge-supported-renderer > div.badge > * {
	transition: all 0.5s ease 1s;
}
ytd-grid-video-renderer, ytd-post-renderer, ytd-grid-radio-renderer, ytd-grid-playlist-renderer {
	position: relative;
}
ytd-grid-video-renderer::after, ytd-post-renderer::after, ytd-grid-radio-renderer::after, ytd-grid-playlist-renderer::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 1s;
	background: transparent;
	top: 0;
	left: 0;
}
ytd-grid-video-renderer:hover::after, ytd-post-renderer:hover::after, ytd-grid-radio-renderer:hover::after, ytd-grid-playlist-renderer:hover::after {
	transition: all 0.5s ease 1.5s;
	height: 0;
	background: #efefef80;
}

/** Posts **/
ytd-post-renderer:not(:hover) {
	background: #efefef !important;
	border-color: #efefef !important;
}
ytd-post-renderer:not(:hover) > * {
	opacity: 0;
}
ytd-post-renderer:hover, ytd-post-renderer:hover > * {
	transition: all 0.5s ease 1.5s;
}
ytd-post-renderer, ytd-post-renderer > * {
	transition: all 0.5s ease 1s;
}

/** Mix Playlists **/
ytd-grid-radio-renderer:not(:hover) ytd-thumbnail, ytd-grid-radio-renderer:not(:hover) span#video-title {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-grid-radio-renderer:not(:hover) span#video-title {
	color: transparent !important;
}
ytd-grid-radio-renderer:not(:hover) ytd-thumbnail > * {
	opacity: 0 !important;
}
ytd-grid-radio-renderer:hover ytd-thumbnail, ytd-grid-radio-renderer:hover ytd-thumbnail > *, ytd-grid-radio-renderer:hover span#video-title {
	transition: all 0.5s ease 1.5s;
}
ytd-grid-radio-renderer ytd-thumbnail, ytd-grid-radio-renderer ytd-thumbnail > *, ytd-grid-radio-renderer span#video-title {
	transition: all 0.5s ease 1s;
}

/** Normal Playlists **/
ytd-grid-playlist-renderer:not(:hover) ytd-playlist-thumbnail, ytd-grid-playlist-renderer:not(:hover) a#video-title, ytd-grid-playlist-renderer:not(:hover) ytd-channel-name a, ytd-grid-playlist-renderer:not(:hover) #view-more a {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: #efefef !important;
}
ytd-grid-playlist-renderer:not(:hover) a#video-title, ytd-grid-playlist-renderer:not(:hover) ytd-channel-name a, ytd-grid-playlist-renderer:not(:hover) #view-more a {
	color: transparent !important;
}
ytd-grid-playlist-renderer:not(:hover) ytd-playlist-thumbnail > * {
	opacity: 0 !important;
}
ytd-grid-playlist-renderer:hover ytd-playlist-thumbnail, ytd-grid-playlist-renderer:hover ytd-playlist-thumbnail > *, ytd-grid-playlist-renderer:hover a#video-title, ytd-grid-playlist-renderer:hover ytd-channel-name a, ytd-grid-playlist-renderer:hover #view-more a {
	transition: all 0.5s ease 1.5s;
}
ytd-grid-playlist-renderer ytd-playlist-thumbnail, ytd-grid-playlist-renderer ytd-playlist-thumbnail > *, ytd-grid-playlist-renderer a#video-title, ytd-grid-playlist-renderer ytd-channel-name a, ytd-grid-playlist-renderer #view-more a {
	transition: all 0.5s ease 1s;
}