ytd-compact-video-renderer, ytd-compact-radio-renderer, ytd-compact-playlist-renderer {
	--ext-yt-blocker-color: #efefef;
}

ytd-compact-video-renderer:not(:hover) ytd-channel-name, ytd-compact-video-renderer:not(:hover) ytd-thumbnail, ytd-compact-video-renderer:not(:hover) span#video-title, ytd-compact-video-renderer:not(:hover) #metadata-line > span, ytd-compact-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: var(--ext-yt-blocker-color) !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: var(--ext-yt-blocker-color) !important;
}
ytd-compact-video-renderer:not(:hover) span#video-title, ytd-compact-video-renderer:not(:hover) #metadata-line > span {
	color: transparent;
}
ytd-compact-video-renderer:not(:hover) ytd-channel-name > *, ytd-compact-video-renderer:not(:hover) ytd-thumbnail > *, ytd-compact-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge > * {
	opacity: 0;
}
ytd-compact-video-renderer ytd-channel-name, ytd-compact-video-renderer ytd-thumbnail, ytd-compact-video-renderer span#video-title, ytd-compact-video-renderer #metadata-line > span, ytd-compact-video-renderer ytd-badge-supported-renderer > div.badge, ytd-compact-video-renderer ytd-channel-name > *, ytd-compact-video-renderer ytd-thumbnail > *, ytd-compact-video-renderer ytd-badge-supported-renderer > div.badge > * {
	transition: all 0.5s ease 1.5s;
}
ytd-compact-video-renderer::after, ytd-compact-radio-renderer::after, ytd-compact-playlist-renderer::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 1.5s;
	background: transparent;
}
ytd-compact-video-renderer:hover::after, ytd-compact-radio-renderer:hover::after, ytd-compact-playlist-renderer:hover::after {
	height: 0;
	background: var(--ext-yt-blocker-color);
}

/** Recommendations after video **/
.html5-endscreen {
	display: none;
}

/** Mix Playlists **/
ytd-compact-radio-renderer:not(:hover) ytd-thumbnail, ytd-compact-radio-renderer:not(:hover) span#video-title {
	background: var(--ext-yt-blocker-color) !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: var(--ext-yt-blocker-color) !important;
}
ytd-compact-radio-renderer:not(:hover) span#video-title {
	color: transparent !important;
}
ytd-compact-radio-renderer:not(:hover) ytd-thumbnail > * {
	opacity: 0 !important;
}
ytd-compact-radio-renderer ytd-thumbnail, ytd-compact-radio-renderer ytd-thumbnail > *, ytd-compact-radio-renderer span#video-title {
	transition: all 0.5s ease 1.5s;
}

/** Normal Playlists **/
ytd-compact-playlist-renderer:not(:hover) ytd-playlist-thumbnail, ytd-compact-playlist-renderer:not(:hover) span#video-title, ytd-compact-playlist-renderer:not(:hover) ytd-channel-name, ytd-compact-playlist-renderer:not(:hover) span.ytd-video-meta-block, ytd-compact-playlist-renderer:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: var(--ext-yt-blocker-color) !important;
	border-radius: 3px;
	pointer-events: none;
	border-color: var(--ext-yt-blocker-color) !important;
}
ytd-compact-playlist-renderer:not(:hover) span#video-title, ytd-compact-playlist-renderer:not(:hover) ytd-channel-name, ytd-compact-playlist-renderer:not(:hover) span.ytd-video-meta-block {
	color: transparent !important;
}
ytd-compact-playlist-renderer:not(:hover) ytd-playlist-thumbnail > *, ytd-compact-playlist-renderer:not(:hover) ytd-badge-supported-renderer > div.badge > * {
	opacity: 0 !important;
}
ytd-compact-playlist-renderer ytd-playlist-thumbnail, ytd-compact-playlist-renderer ytd-playlist-thumbnail > *, ytd-compact-playlist-renderer span#video-title, ytd-compact-playlist-renderer ytd-channel-name, ytd-compact-playlist-renderer span.ytd-video-meta-block, ytd-compact-playlist-renderer ytd-badge-supported-renderer > div.badge, ytd-compact-playlist-renderer ytd-badge-supported-renderer > div.badge > * {
	transition: all 0.5s ease 1.5s;
}