ytd-compact-video-renderer:not(:hover) ytd-channel-name, ytd-compact-video-renderer:not(:hover) ytd-thumbnail, ytd-compact-video-renderer:not(:hover) span#video-title, ytd-compact-video-renderer:not(:hover) #metadata-line > span, ytd-compact-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge {
	background: #efefef !important;
	border-radius: 3px;
	pointer-events: none;
}
ytd-compact-video-renderer:not(:hover) span#video-title, ytd-compact-video-renderer:not(:hover) #metadata-line > span {
	color: transparent;
}
ytd-compact-video-renderer:not(:hover) ytd-channel-name > *, ytd-compact-video-renderer:not(:hover) ytd-thumbnail > *, ytd-compact-video-renderer:not(:hover) ytd-badge-supported-renderer > div.badge > * {
	opacity: 0;
}
ytd-compact-video-renderer ytd-channel-name, ytd-compact-video-renderer ytd-thumbnail, ytd-compact-video-renderer span#video-title, ytd-compact-video-renderer #metadata-line > span, ytd-compact-video-renderer ytd-badge-supported-renderer > div.badge, ytd-compact-video-renderer ytd-channel-name > *, ytd-compact-video-renderer ytd-thumbnail > *, ytd-compact-video-renderer ytd-badge-supported-renderer > div.badge > * {
	transition: all 0.5s ease 1.5s;
}
ytd-compact-video-renderer::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease 1.5s;
	background: transparent;
}
ytd-compact-video-renderer:hover::after {
	height: 0;
	background: #efefef80;
}

/** Recommendations after video **/
.html5-endscreen {
	display: none;
}